<%if current_user != nil %>
       <%= form_for(@new_posts, remote: true, html: {:'data-type' => 'script'}) do |f| %>
       <ul class="social">
        <%= f.text_area :comment, :style => "width: 50%;display: block;margin: auto;" %>
        <%=  f.text_field :owner, :style => "display: none", :readonly => true, :value => current_user.username %>
        <%= f.submit "Create", :class => "a.button", :style => "width:60px;display: block;margin: auto;" %>
      </ul>
      <% end %>
<%end%>
<div id="removeme"></div>
<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">

<!-- Grab all Posts with partial, also pass var through -->
<% @all_posts.each do |p| %>
<%=render 'postspart', :p => p %>
<%end%>

</div>
</div>
