
       <%= form_for(@new_posts) do |f| %>
    <ul class="social">
        <%= f.text_area :comment, :style => "width: 50%;display: block;margin: auto;" %>

        <%= f.submit "Create", :class => "a.button", :style => "width:60px;display: block;margin: auto;" %>
      </ul>
    <% end %>

<div class="blog-wrap">
	<!-- Begin Blog -->
	<div class="blog-grid">

<!-- Begin Quote Format -->
<% @all_posts.each do |p| %>


<div class="post format-quote box">
  <blockquote><%= p.comment%>
</blockquote>
  <div class="details">
    <span class="icon-image"><a href="#">  <%=p.created_at%></a></span>
      <span class="icon-image", style="float : right">
        <% if p.owner != nil %>
        <%=p.owner%>
        <%end%>
    </span>
    <%if current_user != nil && p.owner == current_user.username || current_user != nil && current_user.admin? %>
    <%= button_to "delete" , post_path(:id => p.id), :method => :delete %>
    <%end%>

  </div>

</div>
<%end%>
<!-- End Quote Format -->
</div>
</div>
