<!DOCTYPE HTML>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<title>threadly</title>
<link rel="stylesheet" type="text/css" media="all" href="/assets/style.css" />
<link rel="stylesheet" type="text/css" href="assets/media-queries.css" />
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,300,700,700italic|Open+Sans+Condensed:300,700' rel="stylesheet" type='text/css'>

<script type="text/javascript" src="/assets/jquery-1.7.2.min.js"></script>

<script type="text/javascript" src="/assets/jquery.masonry.min.js"></script>

<script type="text/javascript" src="/assets/jquery.backstretch.min.js"></script>
</head>
<body>
<div class="scanlines"></div>

<!-- Begin Header -->
<div class="header-wrapper opacity">
	<div class="header">
		<!-- Begin Logo -->
		<div class="logo"><div class="intro", style="font-size: 30px"> threadly</div>
				<div class="intro", style="font-size: 20px;">
					<% if current_user %>


										<%=link_to current_user.username %>
										<%= button_to "Log Out", logout_path, :method => :delete, :style => "width:100px;display: block;margin: auto;" %>
										<%else%>
										<%=link_to "Login", login_path %>
										<%=link_to "Sign Up", 'signup' %>
										<%end%>



				 </div>

	    </div>
		<!-- End Logo -->
		<!-- Begin Menu -->
		<div id="menu-wrapper">
			<div id="menu" class="menu">

			</div>
		</div>
		<div class="clear"></div>
		<!-- End Menu -->
	</div>
</div>
<!-- End Header -->

<!-- Begin Wrapper -->
<div class="wrapper"><!-- Begin Intro -->
<div class="intro">  </div>

<!-- End Intro -->


<%= yield %>

<!-- End Footer -->
<script type="text/javascript" src="/assets/scripts.js"></script>
<script type="text/javascript" src="/assets/selectnav.js"></script>
<script type="text/javascript">
	$.backstretch("assets/bg/space.jpg");
</script>
</body>
</html>
